<!DOCTYPE html>
<html lang="en">
<head>
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38509576-8');
</script>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">

	<title>W0DBQ: Market Place</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<link rel="shortcut icon" href="/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
	<script src="/menu.js" defer></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/assets/css/main.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css">
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"></script>
</head>

<body class="home" style="background-color: #555;">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container" id="nav-bar">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Market Place</li>
		</ol>

		<div class="row">
			
			<div class="ad-grid">

	<div class="ad-card">
		<div class="ad-imgBx">
			<img src="/img/7300.jpg" alt="" class="ad-img">
			<span class="ad-callsign">
				KD9HAE
			</span>
		</div>
		<div class="ad-content">
			<span class="ad-price">
				<a href="#">$1,200</a>
			</span>
				<p class="ad-title">Icom IC-7300</p>
				<hr>
				<p class="ad-text-body">
					This is a good radio I just dont use it anymore.
				</p>
			
				</p>
				 <button class="ad-btn">Learn More</button>
				</p>
		</div>
	</div>

	<div class="ad-card">
		<div class="ad-imgBx">
			<img src="/img/450d.jpg" alt="" class="ad-img">
			<span class="ad-callsign">
				KB0DAN
			</span>
		</div>
		<div class="ad-content">
			<span class="ad-price">
				<a href="#">$675</a>
			</span>
				<p class="ad-title">Yeasu FT-450D</p>
				<hr>
				<p class="ad-text-body">
					Compact Size & Lightweight
The FT-450D comes - complete with an Automatic Antenna Tuner - is a compact 9”W x 3.3”H x 8.5”D (w/o knobs) weighing only 8.8 pounds. This lightweight package is designed to be used as a desktop radio at home or in portable applications. The FT-450D can also be used mobile with the MMB-90 convenient mobile bracket accessory. Besides home or mobile operation, this easy to pack radio is a DXpeditioner or Emergency Service Provider dream come true - compact, lightweight, high performance receiver, and 100 watts output on 160 through 6 meters Amateur Radio bands.
100 Watts RF Ouput 160 - 6 Meters
Enjoy a cool 100 watts RF output on all HF bands 160-10 meters plus the 6 meter band. The rugged FT 450D aluminum die-cast chassis with its quiet, thermostatically controlled cooling fan provides a solid foundation for the power amplifier during long hours of field or home use...including the challenges of contesting.
				</p>
			
				</p>
				 <button class="ad-btn">Learn More</button>
				</p>
		</div>
	</div>

	<div class="ad-card">
		<div class="ad-imgBx">
			<img src="/img/ft897.jpg" alt="" class="ad-img">
			<span class="ad-callsign">
				W9UPK
			</span>
		</div>
		<div class="ad-content">
			<span class="ad-price">
				<a href="#">$1,000</a>
			</span>
				<p class="ad-title">Yeasu FT-897</p>
				<hr>
				<p class="ad-text-body">
					Great Yaesu FT-897 with FC-30 antenna tuner in great working condition.     Includes extra power cable and all manuals seen in the pictures.  Also,  includes cables to connect antenna tuner to transceiver as seen in the pictures.
				</p>
			
				</p>
				 <button class="ad-btn">Learn More</button>
				</p>
		</div>
	</div>


	<div class="ad-card">
		<div class="ad-imgBx">
			<img src="/img/ft897.jpg" alt="" class="ad-img">
			<span class="ad-callsign">
				W9UPK
			</span>
		</div>
		<div class="ad-content">
			<span class="ad-price">
				<a href="#">$1,000</a>
			</span>
				<p class="ad-title">Yeasu FT-897</p>
				<hr>
				<p class="ad-text-body">
					Great Yaesu FT-897 with FC-30 antenna tuner in great working condition.     Includes extra power cable and all manuals seen in the pictures.  Also,  includes cables to connect antenna tuner to transceiver as seen in the pictures.
				</p>
			
				</p>
				 <button class="ad-btn">Learn More</button>
				</p>
		</div>
	</div>

</div>
				
		
			

		</div>
	</div>	<!-- /container -->

	    <script>


    </script>
		
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/assets/js/headroom.min.js"></script>
	<script src="/assets/js/jQuery.headroom.min.js"></script>
	<script src="/assets/js/template.js"></script>
</body>
</html>