<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>W0DBQ: Photo Gallery</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<link rel="shortcut icon" href="/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<script src="/menu.js" defer></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/assets/css/main.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css">
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"></script>


</head>

<body class="home">
	<div class="galley-box"></div>


	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container" id="nav-bar">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Photo Gallery</li>
		</ol>

		<div class="row">
			<div class="grid-container-photo" id="photogrid">
				
				
			</div>
			
		
				<div class="galley-box-bg" id="gallery-modal" onclick="document.getElementById('gallery-modal').style.display='none'">
					<div class="grid-container-modal">
						<div class="grid-item-modal"><img id="gallery-pic" class="gallery-pic">	</div>
						<div class="grid-item-modal"><p id="gallery-info" class="gallery-info"></p></div>
					</div>
				</div>


			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->



	    <script>

			

     fetch('/gallery')
  		.then(response => response.json())
  		.then(data => {
		
			  for(let i = 0; i < data.length; i++) {
            	let obj = data[i]
				console.log(obj.url)
				document.getElementById('photogrid').innerHTML += `
					<div class="grid-item-photo" id="${obj.id}" onclick="loadimg(${obj.id});">
						<img class="photo-thumb" src="${obj.url}">
					</div>
				`
         }  
	   });

	   function loadimg(id) {
		console.log(id)
		fetch(`/gallerydetails?id=${id}`)
  		.then(response => response.json())
  		.then(data => {
			console.log(data[0])
			{{!-- document.getElementById('photogrid').innerHTML += `
					<div class="grid-item-photo" id="${obj.id}" onclick="loadimg(${obj.id});">
						<img class="photo-thumb" src="${obj.url}">
					</div>
				` --}}
			document.getElementById('gallery-pic').src = data[0].url
			document.getElementById('gallery-info').innerHTML = data[0].info
			document.getElementById('gallery-modal').style.display='block'
	   });
	   }

    </script>
		<div class="footer2">
			<div class="container">
				<div class="row">
					
					

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2022, .
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/assets/js/headroom.min.js"></script>
	<script src="/assets/js/jQuery.headroom.min.js"></script>
	<script src="/assets/js/template.js"></script>
</body>
</html>