<!DOCTYPE html>
<html lang="en">
<head>
	<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38509576-8');
</script>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	
	<title>W0DBQ: Set New Password</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">

	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Password Reset</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<center><h1 class="page-title">Password Reset</h1></center>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Reset your password</h3>
							<p class="text-center text-muted" id="auth" hidden>{{auth}}</p>
							<hr>
							
								<div class="top-margin">
									<label>New Password <span class="text-danger">*</span></label>
									<input type="password" class="form-control" id="password1">
								</div>
								<div class="top-margin">
									<label>Confirm Password <span class="text-danger">*</span></label>
									<input type="password" class="form-control" id="password2">
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<b><a href=""></a></b>
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-danger" id="loginbtn" onclick="reset()">Reset</button>
									</div>
								</div>
							
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	



		
	</footer>	
		
	<script>
		 window.addEventListener('keypress', function(event) {
			if (event.keyCode === 13) {
				login()
			}
		});


	async function reset() {
		
    // const formData = new FormData();
    // formData.append("Content-Type", "application/json")
    const password1 = document.getElementById('password1').value;
    const password2 = document.getElementById('password2').value;
	const auth = document.getElementById('auth').innerText;
    let data = JSON.stringify({auth: auth, password: password2})

    if(password1 == '') {
        alert('Please enter a username')
        return
    }  

    if(password2 == '') {
        alert('Please enter a password');
        return
    }  

	if(password1 !== password2) {
        alert('Password do not match!');
        return
    }  



    fetch("/reset", {
        method: 'PUT',
        body: data,
        headers: {'Content-Type': 'application/json;charset=utf-8'}
    })
    .then(response => response.text())
    .then(data => {
		console.log(data)
		if(data == 'reset') {
			alert('Password has been reset!')
			window.location.href = '/login'
		}
       
     });
}
	document.getElementById('callsign').focus()
	</script>



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>