<html lang="en">
  <head>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-38509576-8');
</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <title>W0DBQ: Sign up for an Account</title>

    <link rel="shortcut icon" href="assets/images/gt_favicon.png" />

    <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" />

    <!-- Custom styles for our template -->
    <link
      rel="stylesheet"
      href="assets/css/bootstrap-theme.css"
      media="screen"
    />
    <link rel="stylesheet" href="assets/css/main.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
  </head>

  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
      <div class="container">
        <div class="navbar-header">
          <!-- Button for smallest screens -->
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"
          ><span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img
              src="assets/images/logo.png"
              alt=""
            /></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- /.navbar -->

    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

      <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
          <header class="page-header">

          </header>

          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class="thin text-center">Register a new account</h3>
                <p class="text-center text-muted">Signup for your GRARC account.
                  An account can be registeded to a club member. If you have an
                  account click
                  <a href="/login">Login</a>
                  to sign in.
                </p>
                <hr />

                <div class="top-margin">
                  <label>Callsign</label>
                  <input type="text" id="callsign" class="form-control" />
                </div>
                <div class="top-margin">
                  <label>Full Name</label>
                  <input type="text" id="name" class="form-control" />
                </div>
                <div class="top-margin">
                  <label>Email Address
                    <span class="text-danger">*</span></label>
                  <input type="email" id="email" class="form-control" />
                </div>

                <div class="row top-margin">
                  <div class="col-sm-6">
                    <label>Password <span class="text-danger">*</span></label>
                    <input
                      type="password"
                      id="password1"
                      class="form-control"
                    />
                  </div>
                  <div class="col-sm-6">
                    <label>Confirm Password
                      <span class="text-danger">*</span></label>
                    <input
                      type="password"
                      id="password2"
                      class="form-control"
                    />
                  </div>
                </div>

                <hr />

                <div class="row">
                  <div class="col-lg-8">
                    <p class="red" id="errortext"></p>
                  </div>
                  <div class="col-lg-4 text-right">
                    <button
                      class="btn btn-action"
                      onclick="register()"
                    >Register</button>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </article>
        <!-- /Article -->

      </div>
    </div>
    <!-- /container -->

    <script>
      window.addEventListener('keypress', function(event) { if (event.keyCode
      === 13) { register() } }); let callsign =
      document.getElementById("callsign") let name =
      document.getElementById("name") let email =
      document.getElementById("email") let password1 =
      document.getElementById("password1") let password2 =
      document.getElementById("password2") let errortext =
      document.getElementById("errortext") password2.addEventListener("input",
      () => { if(password1.value == password2.value) { errortext.innerHTML =
      "Passwords Match" } else { errortext.innerHTML = 'Passwords do not Match'
      } }) function register() { errortext.innerHTML = "" if(callsign.value ==
      '' ) { errortext.innerHTML = "Please enter your callsign" return }
      if(name.value == '' ) { errortext.innerHTML = "Please enter your name"
      return } if(email.value == '' ) { errortext.innerHTML = "Please enter your
      email" return } if(password1.value !== password2.value) {
      errortext.innerHTML = "Passwords do not match" return } let regdata = {
      callsign: callsign.value, name: name.value, email: email.value, password:
      password2.value, status: 'Pending' } fetch("/register", { method: 'POST',
      body: JSON.stringify(regdata), headers: {'Content-Type':
      'application/json;charset=utf-8'} }) .then(response => response.text())
      .then(data => { console.log(data) if(data == 'registered') {
      errortext.innerHTML = 'Your account has been registered and is pending
      appoval.' } else { errortext.innerHTML = data } }); }

    </script>

    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    ></script>
    <script
      src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    ></script>
    <script src="assets/js/headroom.min.js"></script>
    <script src="assets/js/jQuery.headroom.min.js"></script>
    <script src="assets/js/template.js"></script>
  </body>
</html>