<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">
    <title>Document</title>
</head>
<body>

    <article class="col-md-15 maincontent">
				  
				  
<form action="/uploadmedia" method="POST" enctype="multipart/form-data">
  <input type="file" name="files" multiple>
  <input type="submit" value="Upload">
</form>




<div id="status">

	<video width="320" height="240" id="video" controls>

		Your browser does not support the video tag.
	</video>



</div>



			</article>
			<!-- /Article -->
    
    <script>
		
     fetch('/uploadmedia')
  		.then(response => response.json())
  		.then(data => {
			console.log(data)
			document.getElementById('video').src = data[1].url

	   });






    </script>
</body>
</html>