<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">
    <title>Document</title>
</head>
<body>

    <article class="col-md-15 maincontent">
				<header class="page-header">
					<h2 class="page-title">GRARC Board of Directors</h2>
				</header>
				<p>
					<div class="card">
				<img src="/img/k0dan.jpg" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Dan Shireman</b></h4> 
					<p>President</p> 
				</div>
			</div>

			<div class="card">
				<img src="/img/w9upk.jpg" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Colin Wheatley</b></h4> 
					<p>Vice President</p> 
				</div>
			</div>


			<div class="card">
				<img src="/img/kd9ipk.jpg" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Dan Tindell</b></h4> 
					<p>Secretary</p> 
				</div>
			</div>

			<div class="card">
				<img src="/img/img_avatar.png" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Robert Smith</b></h4> 
					<p>Treasurer</p> 
				</div>
			</div>

			<div class="card">
				<img src="/img/img_avatar.png" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Fred Miller</b></h4> 
					<p>Trustee</p> 
				</div>
			</div>

			<div class="card">
				<img src="/img/ka0kao.jpg" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Kelly Allen</b></h4> 
					<p>Repeater Chairman</p> 
				</div>
			</div>

			<div class="card">
				<img src="/img/wa2pux.jpg" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Ralph Gable</b></h4> 
					<p>At Large</p> 
				</div>
			</div>

			<div class="card">
				<img src="/img/n0lue.jpg" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Mark Manternach</b></h4> 
					<p>At Large</p> 
				</div>
			</div>

			<div class="card">
				<img src="/img/kd9hae.jpg" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b>Joe Feyen</b></h4> 
					<p>Past President</p> 
				</div>
			</div>
				</p>
				

				<h3>&nbsp; </h3>
				<p>&nbsp; </p>
				<p>&nbsp; </p>
				<p>&nbsp; </p>
			</article>
			<!-- /Article -->
    
    <script>


        {{!-- fetch('/files')
  		.then(response => response.json())
  		.then(data => {
			 console.log(data)
	     }); --}}

    
















    </script>
</body>
</html>