<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
		<script src="/auth.js"></script>
	<script>
		mediaauth()
	</script>
	
	<title>W0DBQ: Media Upload</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<link rel="shortcut icon" href="/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<script src="/menu.js" defer></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/assets/css/main.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css">
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"></script>
</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container" id="nav-bar">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Media Upload</li>
		</ol>

		<div class="row">
			
			<div class="media-main">
				<div class="media-upload">
					<form action="/uploadmedia" method="POST" enctype="multipart/form-data">
						<input type="file" name="files" multiple>
						<input type="submit" value="Upload">
					</form>
					<hr>
				</div>

				<div class="mediaimages" id="mediaimages">
					<div class="mediaimagesbox" id="mediabox">
							
					</div>
				</div>
			</div>
				
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->

	    <script>
		
		fetch('/uploadmedia?type=New',{
			method: 'GET',
			headers: myHeaders
		})
  		.then(response => response.json())
  		.then(data => {
		
			  for(let i = 0; i < data.length; i++) {
            	let obj = data[i]
				if(data[i].filetype == 'image'){
							document.getElementById('mediabox').innerHTML += `<div class="media-box-div" id="${obj.id}">
								<div>
									<img src="${obj.url}" class="media-img">
								</div>
								<div>
									<h4>Short Description</h4>
									<input type="text" id="short${obj.id}" class="media-select">		

									<h4>Full Description</h4>
									<textarea class="media-text" id="long${obj.id}" cols="30" rows="10"></textarea>
									<br>
									<h4>Category</h4>
									<select class="media-select" id="cat${obj.id}">
										<option>Gallery</option>
										<option>Ares</option>
										<option>Field Day</option>
									</select>

									<br>
									<h4>Frontpage Slidesshow?</h4>
									<select class="media-select" id="slide${obj.id}">
										<option>No</option>
										<option>Yes</option>
									</select>
									<br><br>
									<button onclick="publishimg(${obj.id});" class="btn btn-success btn-sm"><i class="fa fa-check" aria-hidden="true"></i> Publish</button>
									<button onclick="deleteimg(${obj.id});" class="btn btn-danger btn-sm" ><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
									</div>
							</div>`
						} else if(data[i].filetype == 'video') {
							document.getElementById('mediabox').innerHTML += `<div class="media-box-div" id="${obj.id}">
								<div>
									<video id="video" src="${obj.url}" class="media-img" controls>
										Your browser does not support the video tag.
									</video>
								</div>
								<div>
									<h4>Short Description</h4>
									<input type="text" id="short${obj.id}" class="media-select">		

									<h4>Full Description</h4>
									<textarea class="media-text" id="long${obj.id}" cols="30" rows="10"></textarea>
									<br>
									<h4>Category</h4>
									<select class="media-select" id="cat${obj.id}">
										<option>Gallery</option>
										<option>Ares</option>
										<option>Field Day</option>
									</select>

									<br>
									<h4>Frontpage Slidesshow?</h4>
									<select class="media-select" id="slide${obj.id}">
										<option>No</option>
										<option>Yes</option>
									</select>
									<br><br>
									<button onclick="publishimg(${obj.id});" class="btn btn-success btn-sm"><i class="fa fa-check" aria-hidden="true"></i> Publish</button>
									<button onclick="deleteimg(${obj.id});" class="btn btn-danger btn-sm" ><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>

									</div>
							</div>`
						}
			}
           
	   });

	   function publishimg(id) {
			let sqldata = {
				info: document.getElementById(`long${id}`).value,
				shortinfo: document.getElementById(`short${id}`).value,
				active: `Yes`,
				type: document.getElementById(`cat${id}`).value,
				frontpage: document.getElementById(`slide${id}`).value,
			}

			fetch(`/uploadmedia?id=${id}`,{
				method: 'PUT',
				headers: myHeaders,
				body: JSON.stringify(sqldata)
			})
			.then(response => response.text())
			.then(data => {
				if(data == 'Updated') {
					document.getElementById(id).style.display = "none"
				} else {
					alert('Error: Failed to Delete!')
				}
			});

	   }

	   function deleteimg(id) {
			fetch(`/uploadmedia?id=${id}`,{
				method: 'DELETE',
				headers: myHeaders
			})
			.then(response => response.text())
			.then(data => {
				if(data == 'Deleted') {
					document.getElementById(id).style.display = "none"
				} else {
					alert('Error: Failed to Delete!')
				}
			});
	   }


    	</script>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/assets/js/headroom.min.js"></script>
	<script src="/assets/js/jQuery.headroom.min.js"></script>
	<script src="/assets/js/template.js"></script>
</body>
</html>