<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>W0DBQ | About US</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<script src="/menu.js" defer></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container" id="nav-bar">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">About Us</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				
				<h2>Our Mission Statement</h2>
				<p>We are dedicated to public service, emergency communications and the advancement of amateur radio through education.</p>
				<p> </p>
				<p> </p>

				<h2>Our Statement of Purpose</h2>
				<p>To meet socially so as to advance the skills of Amateur Radio operators in preparation of applying technical and emergency communications expertise for the good of our community.</p>
			

			
				<h2>Our primary goals</h2>
				<p>In the event of a disaster or time of need, to assist and protect the citizens of Dubuque County by providing emergency communications. To work with local Emergency Management and other Public Service agencies to establish infrastructure, plans and procedures</p>

				<h2>Club Meeting</h2>
				<p>GRARCclub meeting are held the second Monday of every month and the Dubuque County EOC (<span class="test-day">14928 Public Safety Way, Dubuque, IA</span>). The meeting starts at 7:00pm. Everyone is welcome to attend the meeting. </p>
				<img src="/img/eocmap.jpg">
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-right">

				<div class="row widget">
					<div class="col-xs-12">
						<h4>Daily Coffee Net</h4>
						<p>The coffee net is held weekday morning at 9:15. The net control operator is Gary (W0GRY) This is an informal net that meet to discuss the improtant topics of the day and whatever else comes up.</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>ARES Net</h4>
						<p>ARES nets are held on Tuesday night's at 7:30pm All licensed radio operators are encouraged to check in. Membership is the club is not required nor are you required to be an ARES member to participate. <br>If you are interseted in joining ARES contact Colin (W9UPK) for more information</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4>Club Net</h4>
						<p>The club Sunday night net meets at 8:30pm. All licensed radio operators are encouraged to check in. Membership is the club is not required to participate.</p>
					</div>
				</div>

				<div class="row widget">
					<div class="col-xs-12">
						<h4>Club Repeaters</h4>
						<img src="/img/repeaters.jpg"><br>
						<a class="btn btn-action btn-lg btn-info" role="button"> Learn More about the repeaters </a>
					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">
	<div class="footer2">
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. 
							</p>
						</div>
					</div>
				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>