<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>W0DBQ - Board Of Directors</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<script src="/menu.js" defer></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container" id="nav-bar">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Dubuque County Amateur Radio Emergency Service </li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-md-15 maincontent">
				<header class="page-header">
					<h2 class="page-title">GRARC Board of Directors</h2>
				</header>
				<p>
					<div class="card">
				<img id="bodimg1" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname1"></b><br><b id="callsign1"></b></h4> 
					<p id="bodtitle1"></p> 
				</div>
			</div>

			<div class="card">
				<img id="bodimg2" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname2"></b><br><b id="callsign2"></b></h4> 
					<p id="bodtitle2"></p> 
				</div>
			</div>


			<div class="card">
				<img id="bodimg3" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname3">Dan Tindell</b><br><b id="callsign3"></b></h4> 
					<p id="bodtitle3">Secretary</p> 
				</div>
			</div>

			<div class="card">
				<img id="bodimg4" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname4">Robert Smith</b><br><b id="callsign4"></b></h4> 
					<p id="bodtitle4">Treasurer</p> 
				</div>
			</div>

			<div class="card">
				<img id="bodimg5" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname5">Fred Miller</b><br><b id="callsign5"></b></h4> 
					<p id="bodtitle5">Trustee</p> 
				</div>
			</div>

			<div class="card">
				<img id="bodimg6" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname6">Kelly Allen</b><br><b id="callsign6"></b></h4> 
					<p id="bodtitle6">Repeater Chairman</p> 
				</div>
			</div>

			<div class="card">
				<img id="bodimg7" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname7">Ralph Gable</b><br><b id="callsign7"></b></h4> 
					<p id="bodtitle7">At Large</p> 
				</div>
			</div>

			<div class="card">
				<img id="bodimg8" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname8">Mark Manternach</b><br><b id="callsign8"></b></h4> 
					<p id="bodtitle8">At Large</p> 
				</div>
			</div>

			<div class="card">
				<img id="bodimg9" src="" alt="Avatar" style="width:100%">
				<div class="bod-container">
					<h4><b id="bodname9">Joe Feyen</b><br><b id="callsign9"></b></h4> 
					<p id="bodtitle9">Past President</p> 
				</div>
			</div>
				</p>
				

				<h3>&nbsp; </h3>
				<p>&nbsp; </p>
				<p>&nbsp; </p>
				<p>&nbsp; </p>
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		

		<div class="footer2 bod">
			

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2014, Your name. 
								
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		
	<script>
		fetch('/bodmembers')
  		.then(response => response.json())
  		.then(data => {
			console.log(data)

			if(data[0].image.length <= 0) {
				document.getElementById(`bodimg1`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg1`).src = data[0].image
			}
			document.getElementById(`bodname1`).innerHTML = data[0].name
			document.getElementById(`bodtitle1`).innerHTML = data[0].position
			document.getElementById('callsign1').innerHTML = data[0].callsign

			if(data[1].image.length <= 0) {
				document.getElementById(`bodimg2`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg2`).src = data[1].image
			}
			document.getElementById(`bodname2`).innerHTML = data[1].name
			document.getElementById(`bodtitle2`).innerHTML = data[1].position
			document.getElementById('callsign2').innerHTML = data[1].callsign

			if(data[2].image.length <= 0) {
				document.getElementById(`bodimg3`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg3`).src = data[2].image
			}
			document.getElementById(`bodname3`).innerHTML = data[2].name
			document.getElementById(`bodtitle3`).innerHTML = data[2].position
			document.getElementById('callsign3').innerHTML = data[2].callsign

			if(data[3].image.length <= 0) {
				document.getElementById(`bodimg4`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg4`).src = data[3].image
			}
			document.getElementById(`bodname4`).innerHTML = data[3].name
			document.getElementById(`bodtitle4`).innerHTML = data[3].position
			document.getElementById('callsign4').innerHTML = data[3].callsign

			if(data[4].image.length <= 0) {
				document.getElementById(`bodimg5`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg5`).src = data[4].image
			}
			document.getElementById(`bodname5`).innerHTML = data[4].name
			document.getElementById(`bodtitle5`).innerHTML = data[4].position
			document.getElementById('callsign5').innerHTML = data[4].callsign

			if(data[5].image.length <= 0) {
				document.getElementById(`bodimg6`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg6`).src = data[5].image
			}
			document.getElementById(`bodname6`).innerHTML = data[5].name
			document.getElementById(`bodtitle6`).innerHTML = data[5].position
			document.getElementById('callsign6').innerHTML = data[5].callsign

			if(data[6].image.length <= 0) {
				document.getElementById(`bodimg7`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg7`).src = data[6].image
			}
			document.getElementById(`bodname7`).innerHTML = data[6].name
			document.getElementById(`bodtitle7`).innerHTML = data[6].position
			document.getElementById('callsign7').innerHTML = data[6].callsign

			if(data[7].image.length <= 0) {
				document.getElementById(`bodimg8`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg8`).src = data[7].image
			}
			document.getElementById(`bodname8`).innerHTML = data[7].name
			document.getElementById(`bodtitle8`).innerHTML = data[7].position
			document.getElementById('callsign8').innerHTML = data[7].callsign

			if(data[8].image.length <= 0) {
				document.getElementById(`bodimg9`).src = '/img/bod/img.png'
			}else{
				document.getElementById(`bodimg9`).src = data[8].image
			}
			document.getElementById(`bodname9`).innerHTML = data[8].name
			document.getElementById(`bodtitle9`).innerHTML = data[8].position
			document.getElementById('callsign9').innerHTML = data[8].callsign
	   });
	</script>



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>