<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>W0DBQ: Photo Gallery</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

	<link rel="shortcut icon" href="/assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<script src="/menu.js" defer></script>
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/assets/css/main.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.css">
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.js"></script>


</head>

<body class="home">
	<div class="galley-box"></div>


	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container" id="nav-bar">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Photo Gallery</li>
		</ol>

		<div class="row">
			<div class="gallery-card-grid" id="photogrid">

			</div>
			
		
			<dialog id="galleryModal" class="gallery-modal">
				<div class="gallery-modal-main">
					<div id="modalMedia">
						
					</div>

					<div>
						<p class="modal-text" id="modaltext"></p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-danger btn-lg" onclick="closemodal()"> Close</button>
					</div>
				</div>
				
			</dialog>


			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->



	    <script>
		let modal = document.getElementById('galleryModal')
     	fetch('/gallery')
  		.then(response => response.json())
  		.then(data => {
			console.log(data)
			  for(let i = 0; i < data.length; i++) {
            	let obj = data[i]
				if(obj.filetype == 'image') {
					
					
					document.getElementById('photogrid').innerHTML += `
					<div class="card gallery-card" onclick="loadimg(${obj.id});">
						<img src="${obj.url}" class="gallery-img">
						<p class="gallery-text">${obj.shortinfo}</p>
					</div>
						`
				}else if(obj.filetype == 'video')
					document.getElementById('photogrid').innerHTML += `
						<div class="card gallery-card" onclick="loadimg(${obj.id});">
						<video id="video" src="${obj.url}" class="gallery-img" controls>
							Your browser does not support the video tag.
						</video>
						<p class="gallery-text">${obj.shortinfo}</p>
					</div>`}  
	   });
		
	    function loadimg(id) {
		fetch(`/gallerydetails?id=${id}`)
  		.then(response => response.json())
  		.then(data => {
			console.log(data[0])
			if(data[0].filetype == 'image') {
					document.getElementById('modalMedia').innerHTML = `
						
						<img src="${data[0].url}" class="modal-media">
						
					</div>`
				}else if(data[0].filetype == 'video') {
					document.getElementById('modalMedia').innerHTML = `
						<video id="video" src="${data[0].url}" class="modal-media" controls>
							Your browser does not support the video tag.
						</video>
					</div>`	
				}
				document.getElementById('modaltext').innerHTML = data[0].info
	   		});
			
	   	modal.showModal();
	   }

		function closemodal() {
			modal.close()
		}
    </script>
		
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/assets/js/headroom.min.js"></script>
	<script src="/assets/js/jQuery.headroom.min.js"></script>
	<script src="/assets/js/template.js"></script>
</body>
</html>