body {
    background-color: #2c1709;
    margin: 0;
    padding: 0;
}

/* ____________________________________________________________ Main Menu__________________________________________________________ */

.bcontent {
    margin-top: 10px;
}


/* ____________________________________________________________ Main Body __________________________________________________________ */


.main {
    position: absolute;
    margin-top: 20px;
    padding: 20px;
    width: 90vw;
    height: auto;
    background-color: #D8D1C6;
    border: #000 solid 3px;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%);
    -webkit-box-shadow: 0 0 20px #fff;
    box-shadow: 0 0 20px #fff;
}


/* ____________________________________________________________ Text Controls  __________________________________________________________ */

h1 {
    text-align: center;
    margin-top: 0px;
}
.text-left {
    text-align: left;
}

.footer {
    text-align: center;
}

p {
    line-height: 95%;
}

.no-dot {
    list-style: none;
    color: #fff;
}

a {
    color: black;
}

a:hover {
    color: black;
}


/* ____________________________________________________________ Box Looks  __________________________________________________________ */

.boxes {
    border-radius: 10px;
    border: #000 solid 2px;
    background-color: #fff;
}

.nav-round {
    border-radius: 10px;
}



/* ____________________________________________________________ Homepage CSS Grid_____________________________________________________ */
.item1 { grid-area: top; }
.item2 { grid-area: main; }
.item3 { grid-area: left; }
.item4 { grid-area: middle; }
.item5 { grid-area: right; }
.item6 { grid-area: r1; }


.home-railRoad-container {
    display: grid;
    grid-template-areas:
      'top  top  top top'
      'main main main main'
      'left middle right r1';
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0px 40vh 1fr;
    /* background-color: #2196F3; */
    padding: 5px;
  }

  .home-railRoad-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 5px 5px;
    line-height: normal;
  
  }


.home-grid-container {
  display: grid;
  grid-template-areas:
    'top  top  top top'
    'main main main main'
    'left middle right r1';
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 40vh 1fr;
  /* background-color: #2196F3; */
  padding: 10px;
}


.home-grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 5px 5px;
  line-height: normal;

}
