/* Header */
#head { background:#181015 url( ../images/bg_header.jpg) no-repeat; background-size: cover; min-height:520px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; font-weight:300; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family:"Open sans", Helvetica, Arial; font-size:44px; margin-bottom:6px; color:white; line-height:1.15em; } 
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
		#head .tagline a { color:#fff; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}


/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }



/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }


/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }	
	
	
/* Calendar */
#wrap {
	width: 1100px;
	margin: 0 auto;
	}

#external-events {
	float: left;
	width: 150px;
	padding: 0 10px;
	text-align: left;
	}

#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
	}

.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
	}

#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
	}

#external-events p input {
	margin: 0;
	vertical-align: middle;
	}

#calendar {
/* 		float: right; */
	margin: 0 auto;
	width: 900px;
	background-color: #FFFFFF;
	  border-radius: 6px;
	box-shadow: 0 1px 2px #C3C3C3;
	}


	.test-day {
		font-size: 16px;
		color: orangered;
	}

	.lunch {
		color: navy;
		font-weight: 1000;
		margin-top: 50px;
	}


	.nav {
		margin-bottom: 25px;
		margin-top: -30px;
	}

	li {
		list-style-type: none;
	}


.slowFade {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slowFade .slide img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: slowFade 15s infinite;
            animation: slowFade 15s infinite;
}
.slowFade .slide:nth-child(3) img {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}
.slowFade .slide:nth-child(2) img {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}
.slowFade .slide:nth-child(1) img {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
@keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}
@-webkit-keyframes slowFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}



.card {
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 18%;
	margin-top: 20px;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .bod-container {
	padding: 2px 16px;
  }
 .bod {
	 position: fixed;
	 bottom: 0;
	 min-width: 100vw;
	 text-align: center;
 }
  


.zoom {
	color: brown;
	font-weight: 1000;
	font-size: 18px;
}




  .rrgrid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: rgba(235, 0, 0, 0.8);
	border-radius: 15px;
	padding: 10px;
	grid-gap: 10px;
  }
  .rrgrid-item {
	background-color: #000;
	/* border: 3px solid rgba(235, 0, 0, 0.8); */
	color: #FFFFFF;
	border-radius: 10px;
	padding: 0px;
	font-size: 30px;
	text-align: center;
  }

.rrtop-title {
	top: 0;
	margin-top: 10px;
	margin-bottom: 20px;
}

.space {
	margin-top: 10px;
}

.rr-btn {
	text-align: center;
}


.address {
	margin: -5px;
	font-size: 10px;
}

.depots-wrapper {
	max-height: 700px;

	overflow-y: scroll;
}

.stats {
	font-size: 16px;
	text-align: center;
	margin-left: -35px;
}


.ytbox {

	background-color: #222;
	width: 400px;
	height: 350px;
	text-align: center;
	color: white;
	border-radius: 10px;
	margin: 10px;
  }

  .ytimg {
	height: 275px;
	width: auto;
	margin: 10px;
	margin-top: 20px;
  }

  .yt-text {
	font-size: 18px;
	margin-top: -5px;
  }

  .ytgrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 60vw;
	margin-left: -300px;
  }

.member {
	text-transform: uppercase;
	color: white;
}


.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
	min-height: 75vh; 
	margin-bottom: 2rem;
  }

  .admindialog {
	width: 60vw;
	height: 60vh;
  }

  .bodfiles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 10px;
  }

  .bodfiles-item {
	padding: 20px;
	text-align: center;
  }

  .bodfiles-img {
	height: 155px;
	width: auto;
	cursor:grab;
  }

  .bod-img-selected {
	border: 5px solid red;
	border-radius: 15px;
  }

  .bod-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
  }


.lb-main {
	display: flex;
	justify-content:space-evenly;
	margin-top: 2rem;
	text-align: center;
}

.lb-left {
	border: #808080 solid 1px;
	box-shadow: 0 5px 15px rgba(0,0,0,1);
	border-radius: 15px;
	min-width: 55%;
	min-height: 30vh;
	padding: 1rem;
	text-align: center;
}

.lb-right {
	border: #808080 solid 1px;
	box-shadow: 0 5px 15px rgba(0,0,0,1);
	border-radius: 15px;
	min-width: 35%;
	min-height: 30vh;
	padding: 1rem;
	text-align: center;
}

.lb-box {
	display: flex;
	justify-content: space-around;
	min-width: 80%;
	min-height: 60px;
	border: #3366CC 2px solid;
	box-shadow: 0 5px 15px #1b408a;
	margin-bottom: 1rem;
	border-radius: 10px;
	padding: 5px;
}


.lb-loc-select {
	width: 60%;
	height: 35px;
	font-size: 16px;
	border: none;
	border-bottom: #000 solid 2px;
	outline: none;
}

.lb-loc-text {
	width: 80%;
	height: 35px;
	font-size: 12px;
	border: none;
	border-bottom: #000 solid 2px;
	text-align: center;
}

.lb-loc-text:focus {
	outline: none;
}

.media-main {
	margin-top: 1rem;
	margin-bottom: 2rem;
	
	display: grid;
    grid-template-rows: 125px auto;
}

.mediaimages {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	text-align: center;
}

.mediaimagesbox {
	
	padding: 15px;
	border-radius: 10px;

}

.media-box-div {
	display: grid;
	grid-template-columns: 2fr 1fr;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	margin: 3rem;
	padding: 20px
}

.media-select {
	width: 80%;
	height: 30px;
	text-align: center;
}

.media-text {
	width: 80%;
}

.media-img {
	max-width: 600px;
	height: auto;
}

.gallery-img {
	width: 275px;
	height: auto;
	margin: 1rem;
}

.gallery-card {
	min-width: 300px;
	height: 325px;
	margin-top: 10px;
	border-radius: 10px;
}

.gallery-text {
	padding: 10px;
}

.gallery-card-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
	margin-left: -25px;
}

.gallery-modal {
	min-height: 95vh;
	max-height: 95vh;
	min-width: 80vw;
	max-width: 80vw;
	overflow: hidden;
}

.modal-footer {
	text-align: center;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%);
	margin-bottom: 5px;
}

.gallery-modal-main {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.modal-text {
	overflow: scroll;
}

.modal-media {
	width: auto;
	height: 70vh;
	margin-top: 30px;
}

.slideshow-container {
	margin-top: 2rem;
	
}

.slide-pic {
	height: 600px;
	width: auto;
}







